[Unit]
Description=Service to start fastchat-controller
[Service]
Type=simple
Restart=always
RestartSec=2
WorkingDirectory=/home/opc/fastchat/scripts
ExecStart=bash fastchat-controller.sh
User=opc
[Install]
WantedBy=multi-user.target