[Unit]
Description=Service to start fastchat-worker
[Service]
Type=simple
Restart=always
RestartSec=2
WorkingDirectory=/home/opc/fastchat/scripts
ExecStart=bash fastchat-worker.sh
User=opc
[Install]
WantedBy=multi-user.target
